body {
    font-family: sans-serif;
    margin: 15px;
    background-color: #C727E1;
}

header{
    background-color: #F3A7FF;
    height: 93px;
}

h1{
    text-align: center;
    padding-top: 23px;
}

p{
    margin-left: 63px;
    margin-top: 42px;
}
